[run]
source = src
omit =
    */tests/*
    */venv/*
    */env/*
    */__pycache__/*
    */.pytest_cache/*
    */setup.py
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__

[html]
directory = coverage_html_report

